/* styles.css */

body {
    font-family: 'Comic Sans MS';
    background: yellow;
    font-size: 1.5em;
}
.container{
    display: grid;
    place-items: center;
}
.board{
    width: 304px;
    margin: 60px;
    background-color: magenta solid 1px;
    display: grid;
    grid-template-columns: 102px 102px 102px;
}
.cell{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.cell:nth-child(3n){
    border-right: none ;
}
.cell:nth-child(6)~.cell{
    border-bottom: none;
}

#showStatus{
    color: magenta;
    border: 4px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
#resetBtn{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background: cyan;
}
#resetBtn:hover{
    background: darkcyan;
    cursor: pointer;
}
#showWinner:first-child{
    color: magenta;
}
#xScore{
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;

}
#oScore{
    padding-left: 5px;
    border-right: 2px solid black;
    padding-right: 5px;
}